/app-backend/node_modules
/app-backend/public/hot
/app-backend/public/storage
/app-backend/storage/*.key
/app-backend/vendor
/app-backend/.env
/app-backend/.env.backup
/app-backend/.phpunit.result.cache
/app-backend/docker-compose.override.yml
/app-backend/Homestead.json
/app-backend/Homestead.yaml
/app-backend/npm-debug.log
/app-backend/yarn-error.log
/app-backend/.idea
/app-backend/.vscode
/app-backend/_ide_helper.php
